<div>
<div class="pictureBox"> 
    <img  src="../../assets/main_image.png">
</div>
    <div class="layerOver">
    <span class="mainHeading">Packaged Natural River Sand</span>
    <span class="mainContent">Cendrol is proud to be the 1st Indian company to offer packaged natural river sand.<br> Place an order by calling our toll-free number or at the click the button below</span>
    <ButtonComponent type="yellowOval"></ButtonComponent>     
    </div>

<div class="spotLight">
<span class="subHeading1">Cendrol  riversand comes with a promise</span>
    <span class="subContent1">We at Cendrol value responsibility, and we express it by supplying physically and chemically tested,<br>
        top-notch river sand to India’s construction industry.</span>
        <div class="imageWrap">
            <div class="dustFreeImg"><img  src="../../assets/dust_free.png"/>      
            <span>Dust Free product</span>
            <p>Cendrol eliminates problems <br> associated with m-sand, thus making<br> structures more long-lasting.</p> 
            </div>
            <img  class="packageImg" src="../../assets/packaging.png"/>
            <div class="testedImg">
                <img src="../../assets/lab_tested.png">
                <span>Lab Tested and approved</span>
                <p>The Bureau of Indian Standards and the Phytosanitary certification make us a reliable sand provider in Karnataka.</p>
            </div>
            <div class="adulfeeImg" >
            <img src="../../assets/adulteration_fee.png"/>
            <span>Adulteration Free</span>
            <p>Our supervised packaging and quality tests ensure our sand is soil-free.</p>
            </div>
            <div class="seivedImg">
            <img src="../../assets/seived.png"/>
            <span>Seived</span>
            <p>We offer properly-sieved sand so that you don't have to waste your time sieving it again.</p>
            </div>
        </div>
      
</div>
</div>