.pictureBox {
    box-sizing: border-box;
    // position: absolute;
    position: relative;
    height: 100vh;
    // min-height: 766px;
    background-color: #726969;
    overflow: hidden;
    // bottom: 74.71%;
    
    // background: url("../../assets/main_image_high.png");
    // width: -webkit-fill-available;
    // background-size: cover;

    // mix-blend-mode: normal;

    // mix-blend-mode:  darken;
    opacity: 0.9;
    
    img{
        width: 100vw;
        min-height: 100vh;
        // background-size: contain;
        object-fit: cover;
        mix-blend-mode: multiply;

    }
}
.pointFrame {
  width: 186px;
  height: 75px;
  box-sizing: border-box;

position: absolute;
left: 79.75%;
right: 6.72%;
top: 82px;
bottom: 94.94%;

background: #FFFFFF;
border-radius: 2px;
 p{
  position: absolute;
  height: 20px;
  width: 150px;
  /* left: 79.69%; */
  /* right: 7.42%; */
  left: 12px;
  top: 6px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
 }
}
.pointTri{
  width: 12px;
  height: 12px;
  position: absolute;
left: 81.5%;
right: 18.52%;
top: 77px;
bottom: 97.23%;

background: #FFFFFF;
transform: rotate(42deg);
}
.layerOver{
  display: flex;
  box-sizing: border-box;
  left: 0%;
  right: 0%;
  margin-top: 11%;
  top: 15%;
  justify-content: center;
  position: absolute;
    .mainHeading{
      position: relative;
      z-index: 1;
      height: 57px;
      font-family: 'Roboto Condensed';
      font-size: 48px;
      line-height: 56px;
      text-align: center;
      color: #FFFFFF;
        }
        .mainContent{
            position: absolute;
// left: 10%;
// right: 10%;
// top: 11.54%;
margin: 70px;
font-family: 'Karla';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
/* or 144% */

text-align: center;

color: #FFFFFF;
            }
}

.spotLight{
    box-sizing: border-box;
    height: 1050px;
    left: 0%;
    right: 0%;
    top: 100vh;
    background: #F8F8F7;
    background: #F8F8F7;
  .subHeading1{
    padding-top: 70px;
    // margin-top: 70px;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed';
    font-size: 48px;
    line-height: 56px;
    font-weight: normal;

    text-align: center;

    color: #000000;
  }
  .subContent1{
    display: block;
    margin: auto;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.4px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.9;
  }
  .imageWrap{
    overflow: hidden;
    position: relative;
    top: 56px;
    span{
    height: 24px;
    position: absolute;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.545455px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.9;
    left: 0px;
    }
    p{
      position: absolute;
      left: 0px;
      font-family: 'Karla';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.4px;
      color: #000000;
      mix-blend-mode: normal;
      opacity: 0.9;
    }
    .packageImg{
       display: block;
       top: 200px;
       width: 415px;
       height: 513px;
       margin-left: auto;
       margin-right: auto;
    }
    .dustFreeImg{
        // display: inline-block;
        width: 300px;
        height: 200px;
        position: absolute;
        display: inline-block;
        left: 12vw;
        top: 50px;
        img{
          width: 50px;
          height: 50px; 
        }
        span{
          top: 75px;
        }
        p {
          top: 90px;
        }
      }
      .testedImg{
        width: 300px;
        height: 100px;
        position: absolute;
        display: inline-block;
        right: 11vw;
        top: 60px;
        img{
          width: 50px;
          height: 50px;
        }
        span{
          top: 66px;
        }
        p{
          top: 80px;
        }
      }
      .adulfeeImg{
        width: 300px;
        height: 100px;
        position: absolute;
        display: inline-block;
        left: 12vw;
        top: 300px; 
        img{
          width: 50px;
          height: 50px;
        }
        span{
          top:70px;
        }
        p {
          top:84px;
        }
      }
      .seivedImg{
        width: 300px;
        height: 50px;
        position: absolute;
        display: inline-block;
        right: 11vw;
        top: 300px;
        img{
          width: 50px;
          height: 50px;
        }
        span {
          position: absolute;
          top:70px;
        }
        p{
          top:83px;
        }
      }
  }
  .spotlightFooter{
    width: 410px;
    margin: auto;
    margin-top: 30px;
    img {
      height: 24px;
      width: 34px;
      margin-top: 15px;
    }
    .bistext{
      display: inline;
      margin-left: 10px;  
      font-family: 'Karla';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
    }
    .learnMoreText{
      height: 22px;
      left: 45.47%;
      right: 47.27%;
      margin-top: 8px;
      font-family: 'Karla';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      letter-spacing: -0.45px;
      cursor: pointer;

      color: #E1A802;
    }
  }

}